<% content_for(:title, 'Emails') %>

	<div class="row emails">
		<div class="col-4 text-center" id='listemail'>
			<h4>Emails :</h4>

			<% @emails.each do |email| %>
				<% if email.readed == false %>
					<div class='tablist unread' id='email-<%= email.id %>'><%= link_to email.object, email_path(email.id), remote: true %></div>
				<% else %>
					<div class='tablist' id='email-<%= email.id %>'><%= link_to email.object, email_path(email.id), remote: true %></div>
				<% end %>
			<% end %>
		</div>
		<div class="col-8 text-center" id='showemail'>

		</div>
	</div>


<script>
	$('a').each (function(){
		$(this).click(function (e) {
			console.log('click!');
			$(e.currentTarget).parent().removeClass("unread");
		})
	});
</script>