      <div class="alert alert-danger" id='flashmessage' role="alert" style='display:none'>
      	<strong>Holy guacamole!</strong> Message supprime
      </div>
      <div class="alert alert-success" id='flashtaskcreated' role="alert" style='display:none'>
      	<strong>Holy guacamole!</strong> Task created
      </div>
      <div class="alert alert-danger" id='flashtaskdeleted' role="alert" style='display:none'>
      	<strong>Holy guacamole!</strong> Task deleted
      </div>
      <div class="alert alert-success	" id='flashtaskdone' role="alert" style='display:none'>
      	<strong>Holy guacamole!</strong> Task done!
      </div>
      
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
